In [ ]:
print("test")

In [ ]:
import pandas as pd
# Load the dataset
url = 'https://github.com/datasciencedojo/datasets/blob/master/titanic.csv'
titanic_data = pd.read_csv(url)

# Display the first few rows of the dataset
print(titanic_data.head())

# Summary statistics
print(titanic_data.describe())

# Check for missing values
print(titanic_data.isnull().sum())

In [ ]:
import pandas as pd

# Load the dataset
url = 'https://github.com/datasciencedojo/datasets/blob/master/titanic.csv'
titanic_data = pd.read_csv(url)

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

# Load Titanic dataset using seaborn
titanic = sns.load_dataset('titanic')

# Display first 5 rows
print(titanic.head())

In [ ]:
df = pd.DataFrame(titanic)
print(df)

In [ ]:
df = pd.DataFrame(titanic)
print(df)

In [ ]:
df.duplicated().sum()

In [ ]:
df.sex.value_counts()

In [ ]:
df['sex'] = df.sex.str.upper()

In [ ]:
df.describe()

In [ ]:
#age_outliers = df[(df['age'] < (Q1_age - 1.5*IQR_age)) | (df['age'] > (Q3_age + 1.5*IQR_age))]
#fare_outliers = df[(df['fare'] < (Q1_fare - 1.5*IQR_fare)) | (df['fare'] > (Q3_fare + 1.5*IQR_fare))]

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
from sklearn.datasets import fetch_openml
import pandas as pd

# Fetch the dataset
# Set as_frame=True to get a pandas DataFrame (default in newer versions of sklearn)
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)

# The result is a pandas DataFrame, which can be easily used for preprocessing and modeling with sklearn
# X contains the features, and y contains the target variable ('survived')
# You can view the first few rows with 
X.head()

In [ ]:
df = pd.DataFrame(X)

In [ ]:
df.info()

In [ ]:
df.name

In [ ]:
import re

# List of common titles to remove
titles = ["Mr", "Mrs", "Ms", "Dr", "Prof", "Sir", "Madam", "Lord", "Lady"]

# Compile a regex pattern to match titles followed by optional period and space
pattern = re.compile(r'\b(?:' + '|'.join(titles) + r')\.?\s+', re.IGNORECASE)

def clean_text(text):
    """
    Removes titles and converts the text to lowercase.
    """
    # Remove titles using regex
    text_without_titles = pattern.sub('', text)
    # Convert the result to lowercase
    return text_without_titles.lower()

# Example usage
if __name__ == "__main__":
    sample_texts = df['name']
    
    for text in sample_texts:
        cleaned = clean_text(text)
        print(f"Original: {text} --> Cleaned: {cleaned}")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
tips = sns.load_dataset("tips")
sns.scatterplot(data=tips, x="total_bill", y="tip")
plt.show()

In [ ]:
# 1. Check for missing values and handle them.
# 2. Check for duplicate rows and remove them.
# 3. Inspect the "Sex" column for inconsistencies and standardize values.
# 4. Detect and handle outliers in the "Age" and "Fare" columns.
# 5. Create a new "Family_Size" feature based on "SibSp" and "Parch".
# 6. Convert the "Embarked" column to numerical values using label encoding.
# 7. If a "Ticket_Purchase_Date" column existed, convert it to datetime and extract the year and month.
# 8. Clean the "Name" column by removing titles and converting to lowercase.
# 9. Bin the "Age" column into categories like 'Child', 'Teen', 'Adult', and 'Senior'.

In [36]:
df.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [ ]:
df.head()

In [35]:
import numpy as np

start_date = pd.to_datetime('2020-01-01')
end_date = pd.to_datetime('2025-12-31')

In [ ]:
date_range = end_date - start_date
random_offsets = [np.random.rand() * date_range for _ in range(len(df))]
df['random_datetime'] = start_date + random_offsets

In [41]:
(df['fare']/12).head()

0    17.611458
1    12.629167
2    12.629167
3    12.629167
4    12.629167
Name: fare, dtype: float64